body {
  background-color: rgb(255, 255, 255);
}
/*-----------------HEAD ----------*/
.head {
 
  padding: 91px 50px 95px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}
.head__menu {
  max-width: 389px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  list-style: none;
}

.nav__item-none a {
  text-decoration: none;
}
.nav__item a {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.nav__item a:hover {
  text-decoration: none;
}
.nav__item a::before {
  content: "";
  position: absolute;
  left: -19px;
  top: 8px;
  width: 6px;
  height: 6px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/list_marker.svg);
}
.head__img {
  display: block;
  width: 139px;
  height: 107px;
}

.address {
  width: 240px;
  display: flex;
  letter-spacing: 0;
  line-height: 1.5;
  justify-self: end;
  flex-direction: column;
  align-items: flex-start;
  font: 400 18px/1.3 "Raleway";
}

.contact {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.address a {
  color: black;
}

/* ------------------------MAIN ------------*/
.cover {
  padding: 165px 50px 50px 50px;
  position: relative;
  min-height: 757px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.over--title {
  width: 1030px;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay--text1 {
  align-self: start;
}
.overlay--text2 {
  align-self: center;
}
.overlay--text3 {
  align-self: flex-end;
}

.description {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.cover__description-text {
  font-size: 22px;
  margin-top: 11px;
  font-weight: 400;

  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.button {
  border: 1px solid white;
  font-size: 22px;
  color: white;
  text-decoration: none;
  padding: 12px 32px 11px 31px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}

/*---------------LOTS------------------------------------*/

.lots {
  margin: 0 auto;
  margin-top: 180px;
  width: 1052px;
  min-height: 723px;
}
.lots__heading {
  margin-left: 40px;
  margin-bottom: 27px;
  font-size: 40px;
  font-weight: 700;

  text-transform: uppercase;
}
.lot {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 1.4);
  /* border: 1px solid #000000;*/
  overflow: hidden;
}
.lot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  pointer-events: none;
  z-index: 1;
}

.lot1 {
  background: url(../images/card-lot-01.jpg) no-repeat center / cover;
}
.lot2 {
  background: url(../images/card-lot-02.jpg) no-repeat center / cover;
}
.lot3 {
  background: url(../images/card-lot-03.jpg) no-repeat center / cover;
}
.lots__card-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.card__title {
  z-index: 2;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2;

  text-transform: uppercase;
  text-decoration: underline;
  color: white;
}
.card__text {
  z-index: 2;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-top: auto;
  color: floralwhite;
}
.lots__look-more-link {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-left: 40px;
  top: 32px;
  text-decoration: underline;

  text-underline-offset: 5px;
}

/*---------------About------------------------------------*/
.about {
  /* padding: 24px; */
  margin: 120px auto;

  width: 1052px;
  min-height: 595px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 694px;
  grid-template-rows: 595px;
}

.first__column {
  grid-area: 1 / 1 / 2 / 2;
}

.second__column {
  align-self: end;

  grid-area: 1 / 2 / 2 / 4;
}
.about__title {
  font-size: 40px;
  font-weight: 700;

  line-height: 100%;
  text-transform: uppercase;
  margin: 122px 0 104px 24px;
}

.about__text {
  margin: 5px 0px 0 25px;
  width: 693px;
  min-height: 312px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/*================FOOTER==================*/

.footer {
  padding: 1px 50px 82px 50px;
  margin-top: 180px;

  width: 1100px;
  min-height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}
.foo__menu {
  font: normal 400 18px/1 "Raleway", sans-serif;
  width: 264px;
  min-height: 98px;
  margin-top: 3px;
}
.foo__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  gap: 3px;
}
.foo__link-no {
  text-decoration: none;
}
.foo__soc-list {
  justify-content: flex-end;
  width: 240px;
  display: flex;
  gap: 48px;
  flex-direction: row;
  list-style: none;
}
.foo__link {
  word-spacing: -1px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.foo__link:hover {
  text-decoration: none;
}

.foo__soc-icon {
  width: 48px;
  height: 48px;
  display: block;
}
.fooss {
  margin-top: 2px;
  min-height: 98px;
}
