:root {
  --font-normal: 400 18px/1.2 "Raleway", sans-serif;
  --font-normalot: 400 20px/1.2 "Raleway", sans-serif;
  --font-large: 400 22px/1.2 "Raleway", sans-serif;
  --font-h2: 700 40px/1.2 "Raleway", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}
/*-----------------HEAD ----------*/
.head {
  padding: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font: var(--font-normal);
}
/* ------------------------MENU ------------*/
.head__menu {
  /*список*/
  max-width: 389px;
  display: flex;
  justify-content: space-between;
  list-style: circle;
}
.nav__item-none {
  list-style: none;
}
.nav__item {
  padding-bottom: 2px;
  padding-left: 3px;
}

.head__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.head__link-no-under {
  text-decoration: none;
}

/* ------------------------LOGO ------------*/
.head__logo-img {
  display: block;

  width: 136px;
  height: 105px;
  object-fit: contain;
}

.address {
  width: 240px;
  display: flex;
  line-height: 1.35;
  justify-self: end;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.contact {
  text-decoration: underline;
  text-underline-offset: 4px;
}
.address a {
  color: black;
}

/* ------------------------MAIN ------------*/
.cover {
  padding: 165px 50px 50px 50px;
  position: relative;
  min-height: 757px;
  background: url("../images/cover.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.over--title {
  width: 1030px;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay__text-start {
  align-self: start;
}
.overlay__text-center {
  align-self: center;
}
.overlay__text-end {
  align-self: flex-end;
}

.description {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.cover__description-text {
  font: var(--font-large);
  margin-top: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  word-spacing: 19px;
}

.button {
  font: var(--font-large);
  border: 1px solid white;
  color: white;
  text-decoration: none;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  background: transparent;
}

/*---------------LOTS------------------------------------*/

.lots

/*секция*/ {
  margin: 0 auto;
  margin-top: 179px;
  width: 1052px;
}

.lots__heading

/*название*/ {
  margin-left: 40px;
  margin-bottom: 27px;
  font: var(--font-h2);
  text-transform: uppercase;
}

.lots__card-list

/*список*/ {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item

/*Элемент списка*/ {
  width: 334px;
  min-height: 596px;
  position: relative;
}

.card

/* артикле*/ {
  height: 100%;
}

.card-link

/* ссылка*/ {
  height: 100%;
  text-decoration: none;
  padding: 48px 40px;
  flex-direction: column;
  display: flex;
}

.card-film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
  background-clip: content-box;
}

.card-book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
  background-clip: content-box;
}

.card-pic {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
  background-clip: content-box;
}

.card__title {
  z-index: 2;
  font: var(--font-large);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
  color: white;
}

.card__text {
  z-index: 1;
  font: var(--font-normalot);
  margin-top: auto;
  color: white;
}

.lots__look-more-link {
  display: block;
  font: var(--font-normalot);
  margin-left: 40px;
  margin-top: 30px;
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 5px;
}
/*---------------About------------------------------------*/
.about {
  margin: 119px auto;
  width: 1052px;
}
.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  margin-left: 47px;
  margin-top: 35px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.logo__column {
  grid-area: 1 / 1 / 2 / 2;
}

.text__column {
  grid-area: 1 / 2 / 2 / 4;
}
.about__title {
  font: var(--font-h2);
  text-transform: uppercase;
  margin: 134px 0 100px 24px;
}

.about__text {
  padding: 0px 10px 0px 25px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  font: var(--font-normalot);
}

/*================FOOTER==================*/

.footer {
  padding: 0px 50px 82px 50px;
  margin-top: 157px;
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  font: var(--font-normal);
}
.foo__menu {
  width: 264px;
}
.foo__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}
.foo__soc-list {
  justify-content: flex-end;
  width: 240px;
  display: flex;
  gap: 48px;
  flex-direction: row;
  list-style: none;
}
.foo__link {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.foo__link-nounder {
  text-decoration: none;
}

.foo__soc-icon {
  width: 48px;
  height: 48px;
  display: block;
}
.fooss {
  line-height: 1.35;
}
